<% alertData = ``; %>
<%
  if (success_msg != '' ) { 
    alertData += `<div class="alert alert-success" role="alert">`;
      alertData += `<div class="container">`
        alertData += `<div class="alert-icon">`
          alertData += `<i class="now-ui-icons ui-2_like"></i>`
        alertData += `</div>`
        alertData += success_msg
        alertData += `<button type="button" class="close" data-dismiss="alert" aria-label="Close">`
          alertData += `<span aria-hidden="true">`
            alertData += `<i class="now-ui-icons ui-1_simple-remove"></i>`
          alertData += `</span>`
        alertData += `</button>`
      alertData += `</div>`
    alertData += `</div>`
  } 
%>
<%
  if (info_msg != '' ) { 
    alertData += `<div class="alert alert-info" role="alert">`;
      alertData += `<div class="container">`
        alertData += `<div class="alert-icon">`
          alertData += `<i class="now-ui-icons travel_info"></i>`
        alertData += `</div>`
        alertData += info_msg
        alertData += `<button type="button" class="close" data-dismiss="alert" aria-label="Close">`
          alertData += `<span aria-hidden="true">`
            alertData += `<i class="now-ui-icons ui-1_simple-remove"></i>`
          alertData += `</span>`
        alertData += `</button>`
      alertData += `</div>`
    alertData += `</div>`
  } 
%>
<%
  if (warning_msg != '' ) { 
    alertData += `<div class="alert alert-warning" role="alert">`;
      alertData += `<div class="container">`
        alertData += `<div class="alert-icon">`
          alertData += `<i class="now-ui-icons ui-1_bell-53"></i>`
        alertData += `</div>`
        alertData += warning_msg
        alertData += `<button type="button" class="close" data-dismiss="alert" aria-label="Close">`
          alertData += `<span aria-hidden="true">`
            alertData += `<i class="now-ui-icons ui-1_simple-remove"></i>`
          alertData += `</span>`
        alertData += `</button>`
      alertData += `</div>`
    alertData += `</div>`
  } 
%>
<%
  if (error_msg != '' || error != '') { 
    alertData += `<div class="alert alert-danger" role="alert">`;
      alertData += `<div class="container">`
        alertData += `<div class="alert-icon">`
          alertData += `<i class="now-ui-icons objects_support-17"></i>`
        alertData += `</div>`
        alertData += error_msg
        alertData += error
        alertData += `<button type="button" class="close" data-dismiss="alert" aria-label="Close">`
          alertData += `<span aria-hidden="true">`
            alertData += `<i class="now-ui-icons ui-1_simple-remove"></i>`
          alertData += `</span>`
        alertData += `</button>`
      alertData += `</div>`
    alertData += `</div>`
  } 
%>
<%- alertData %>