<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/header %>

  <title>
    Error | <%= t("ArchCyber") %>
  </title>
    
  <% include partials/styles %>
</head>

<body>
  <% include partials/loader %>

  <% include partials/navbar %>
    
    <!-- Page content -->
    <div class="wrapper">
      <div class="main">
        <div class="section">
          <div class="container" style="padding-top: 10px">
            <h1><%= error.status %> <%= message %></h1>
            <pre><%= error.stack %></pre>
          </div>
        </div>
      </div>
      <% include partials/footer %>
      <% include partials/sign-in-modal %>
    </div>

    <% include partials/scripts %>

      <!-- Other JS -->
</body>

</html>

