<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/header %>

  <title>
    Starter | <%= t("ArchCyber") %>
  </title>
    
  <% include partials/styles %>
</head>

<body>
  <% include partials/loader %>

  <% include partials/navbar %>

  <% include partials/message-alerts %>

    <!-- Page content -->
    <div class="wrapper">
      <div class="main">
        <div class="section">
          <div class="container" style="padding-top: 10px">
            <div class="row">
              <div class="col">
                <h2 class="section-title">Starter</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include partials/footer %>
      <% include partials/sign-in-modal %>
    </div>

    <% include partials/scripts %>

      <!-- Other JS -->
</body>

</html>