.searchHeader {
    padding-top: 50px;
    padding-bottom: 10px;
}

.inputSection {
    padding-bottom: 30px;
}

.header {
    height: 50px;
}

.title {
    width: 50%;
}

.charts {
    width: 100px;
    height:50px
}
