.Header {
    background-color: black;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 1.5%;
    padding-left: 0.5%;
    padding-right: 0%;
    text-align: left;
    font-size: 30px;
}

.Logo {
    height: 200px;
    width: 30px;
}

.title {
    margin-top: 5px;
}

.navBar {
    float: right;
    text-align: right;
}